body{
    background-color: blanchedalmond;
}
#div1{
    background-color: blue;
    height: 180px;
    width: 200px;
    padding: 50px;
    position: relative;
}
#div2{
    background-color: green;
    height: 50px;
    width: 50px;
    display: inline-block;
}
#div3{
    background-color: red;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    top: 60px;
    left: 0px;
}
#div4{
    background-color: rgb(255, 0, 128);
    height: 50px;
    width: 50px;
    display: inline-block;
}