body{
    background-color: blanchedalmond;
}
#div1{
    background-color: blue;
    height: 180px;
    width: 180px;
    padding: 50px;
}
#div2{
    background-color: green;
    height: 70px;
    width: 70px;
}
#div3{
    background-color: red;
    height: 30px;
    width: 30px;
    position: absolute;
}