body{
    background-color: darkseagreen;
}
.titulo{
    font-size: 60px;
    color: darkblue;
    text-align: center;
}
.formulario{
    background-color: lightgrey;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.pie_pagina{
    text-align: center;
    font-size: 50px;
    color: grey;
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
}
.enviar{
    text-align: center;
    width: 100px;
    height: 25px;
    margin-left: 170px;
}
.cajas{
    
    
}