body{
    width: 1280px;/*La habitaci칩n va a tener un ancho (width) de 1280px*/
    border: 10px solid black;/*las paredes (border) van a medir 10px.*/
    height: 800px;
}
/*
Acho disponible: 1280(width) -2 2*10(border) = 1260px de ancho util
Altura disponible: 800(heigt) -2 2*10(border) = 780px de alto util
*/
/*(100px(ancho)+(5(borde)*2)+20px(padding horizontal)+40(margen horizontal)*7=1190-1260=70px sobrantes de ancho*/
/*(300px(alto)+(5(borde)*2)+2(padding superior)+80(margen)=800-392=408px sobrantes de alto*/
.cama{
    width: 100px;/*ancho total de las camas va a ser de 100px*/
    height: 300px;/*largo de 300px*/
    display: inline-block; /*Les indico que quiero que tengan las caracteristicas de un ele de bloque y linea*/
    background-color: rgb(177, 242, 242);
    border: 5px solid black;
    text-align: center;
    /*Espacio entre el colch칩n y su borde, este espacio ser치 de 10 px a izquierda y derecha y 2px por la parte superior. */
    padding: 2px 10px 0px 10px;
    /*Separar 20px por los lados y 40px por arriba y abajo*/
    margin: 40px 20px;

    /*flotar a la derecha*/
    /*float: right;*/
}
#divCasa{    
    position: relative;/*la pongo relativa para que los elementos hijos puedan posicionarse respecto a este */
}
/*pagina 20 del pdf de css de classroom*/
.cama::first-letter {
    font-size: 2em;
    font-style: italic;
}
/*even pares old impares*/
#cajaLinea .cama:nth-child(even) {
    background-color: #F1FEE3;
}
/*color gru침on*/
#cajaLinea .cama:nth-child(2){
    background-color: #D6234A;
}
/*selector con mas pioridad*/
#cajaLinea span.cama:nth-child(2){
    background-color: #3b0aee;
}

/*V8*/
/*V8.0*//*V8.3*/
#camasBloque {
    border: 3px solid red;
    overflow: hidden;
} 

#camasBloque .cama {
    float: left;
}  
