body{
    background-color: lightgray;
    width: 100%; /* Ancho fijo de 1500px */
    margin: auto;
    font-size: 15px;
}

header{
    background-color: blue;
    padding: 1.33%; /*20*100/1500=1.33%*/
    text-align: center;
    color: white;
    font-size: 3em;
    font-weight: bold;
}

nav{
    background-color: #2c4456; 
}

nav ul{
    list-style: none;
/*     justify-content: space-between;
 */    justify-content: flex-start;
    display: flex;
    margin: 0;
}

nav li{
    width: 7.33%; 
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    color: white; 
    font-size: 1.5em;
    padding: 0.67%; /*10*100/1500=0.67%*/
    display: block;
}
nav a:hover{ 
    background-color: #3b5f77;
    color: white;
}

#iniciiSesion{
    margin-left: auto;
}

#cuadricula {
    display: grid; 
    /* Crea 3 columnas de igual ancho (1fr) */
    grid-template-columns: repeat(3, 1fr); 
    
    /* Crea 2 filas, cada una de 100px de alto */
    grid-template-rows: repeat(2, 13.34vh); /*200*100/1500=13,34% */ 
    /* Espacio entre las celdas */
    gap: 1.34%;  /*espacio en % = 20*100/1500=1.34%*/
    margin: 0 auto;
    background-color: #fff;
    padding: 0.67%; /*10*100/1500=0,67%*/
    border: 3px solid #007bff;
}

#cuadricula > div {
    background-color: #89c0fa;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1.34%; /*20*100/1500=1.34%*/
    border-radius: 5px;
    text-align: center;
}


footer{
    background-color: blue;
    padding: 1.33%; /*20*100/1500=1.33%*/
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}