<h1>Productos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2</th>
      <td>Lavandina</td>
      <td>$100</td>
      <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/product-detail','lavandina']">Ver detalle</button>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Limpia vidrio</td>
      <td>$80</td>
      <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/product-detail','limpia-vidrio']">Ver detalle</button>

    </tr><tr>
      <th scope="row">1</th>
      <td>Detergente</td>
      <td>$200</td>
      <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/product-detail','detergente']">Ver detalle</button>

    </tr>
  </tbody>
</table>