<h1> El kikonaval</h1>
<h2> Lista de Comparsas</h2>
<ul>
  <li *ngFor="let comparsa of comparsas" appDComparsas>
    Nombre: {{ comparsa.nombre}}
    Población: {{ comparsa.problacion  | pComparsas}}
    Integrantes: {{ comparsa.integrantes }}
    Puntuación: {{ comparsa.puntacion }}
    <button (click)="borrarComparsa(comparsa.nombre)">Borrar comparsa</button>
    <button (click)="editarComparsa(comparsa.nombre)">Editar Comparsa</button>
  </li>
</ul>
<!-- añadir una nueva comparsa -->
<input type="text" placeholder="Nombre del comparsa" [(ngModel)]="nombreNuevaComparsa">
<input type="text" placeholder="Población del comparsa" [(ngModel)]="poblacionNuevaComparsa">
<input type="number" placeholder="Integrantes" [(ngModel)]="integrantesNuevaComparsa">
<button (click)="meterNuevaComparsa()">Añadir comparsa</button>