/*Reset CSS
Su objetivo es eliminar todos los estilos por defecto de los navegadores 
(márgenes, paddings, tamaños de fuente...).*/

/*De donde saque el archivo del reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*Coge todas las etiquetas*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    /*Quita los márgenes, paddings, bordes y tamaños de fuente.*/
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Esto sirve para que los nuevos elementos HTML5
sean reconocidos por los navegadores antiguos.*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*Esto sirve para que el body tenga un tamaño de línea
normal y los elementos de lista no tengan viñetas.*/
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/*Quita las comillas de los elementos blockquote y q.*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*Esto sirve para que las tablas no tengan espacios entre celdas.*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Asi nosotro podemos usar estilos propios de todo*/