body{
    background-color: lightgray;
    width: 100%; /* Ancho fijo de 1500px */
    margin: auto;
    font-size: 15px;
}
nav{
    background-color: #2c4456; 
}

nav ul{
    list-style: none;
/*     justify-content: space-between;
 */    justify-content: flex-start;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li{
    flex-basis: 7.33%; 
    flex-grow: 1;      /* Para que no crezca más allá de 7.33% */
    flex-shrink: 1;    /* Para que no se encoja si hay poco espacio */
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    color: white; 
    font-size: 1.5em;
    padding: 0.67%; /*10*100/1500=0.67%*/
    display: block;
}
nav a:hover{ 
    background-color: #3b5f77;
    color: white;
}