.caja-apagada{
    margin-top: 20px;
    background-color: gray;
    width: 150px;
    height: 150px;
}
.caja-encendida{
    margin-top: 20px;
    background-color: yellow;
    width: 150px;
    height: 150px;
}

#cuadrado{
    background-color: blue;
    width: 100px;
    height: 100px;
}

#abuelo{
    width: 400px;
    height: 300px;
    background-color: rgb(4, 49, 88);
}

#padre{
    width: 300px;
    height: 200px;
    background-color: burlywood;
}

#hijo{
    width: 200px;
    height: 100px;
    background-color: yellowgreen;
}