
/* Titulos */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Permanent+Marker&display=swap');

/* Parrafos y titulos secundarios */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..400&display=swap');

/* Botones y formularios */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bitcount+Grid+Single:wght@100..900&family=News+Cycle:wght@400;700&family=Permanent+Marker&display=swap');

:root{
    --color-fondo: linear-gradient(to bottom right, #000000, #2F0B4A);
    --color-secundario: #2F0B4A;
    --color-boton: #7943A4;
}

body{
    width: 100%; /*1512 es el 100%*/
    min-height: 100vh;
    font-size: 16px; /* Base para em */
    background: var(--color-fondo);
    color: white;
    margin: 0 auto;
    /*Para que no se reita el degradado*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*Maquetar con grid*/
    display: grid;  
    /*grid template de 4 filas y 1 columna*/
    grid-template-columns: 1512px 1512px 1512px 1512px;
    grid-template-rows: auto;
    grid-template-areas: 
        "Encabezado"
        "MenuNavegacion"
        "Principal"
        "PiePagina";

}

/* Imágenes */
img {
    width: 5.55%; /*83.92*100/1512=5,55*/
}

/* Header */
header {
    width: 98.67%;/*1492*100/1512=98,67*/
    grid-area: Encabezado;
    position: relative;/*Aqui uso relativo para poder centrar el h1 con
    posicion absoluta en el medio a mi gusto*/
    display: flex;
    align-items: center;
    padding: 0.66%; /*10*100/1512=0,66*/
    background-color: rgb(10, 8, 82);
}
/*218.89 es lo que ocupa de ancho el h1*/
header h1 {
    position: absolute;
    left:43.22%; /*636.55*100/1512=43,22*/
    /*los 1512-20(paddig) = 1492/2=746
    pero como el h1 ocupa 218.89 de ancho realmente
    para que quede centrado le resto la mitad 109.44
    operacionalmente 746-109.44=636.55px*/
    
    margin: 0;
    font-family: "Bitcount Grid Single";
    font-size: 1.2em;
}
/*Menu de navegacion*/
nav{
    grid-area: MenuNavegacion;
    background-color: rgb(10, 8, 82);
}

nav ul{
    list-style: none;
    display: flex; /*Aqui uso un flex para la organizacion del 
    los elementos del nav
    */
    padding: 0;
    margin: 0;
}

nav li{
    /*he decido usar 250px si yo no usase el flex-grow y flex-shrink
    solo me cabería 6 elementos li en el nav 250*6=1500px uno mas y me pasaria*/
    flex-basis: 16.53%; 
    /*250*100/1512=16,53*/
    /*el flex basis es el width*/
    flex-grow: 1;
    flex-shrink: 1;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    color: white; 
    font-size: 1.5em;
    display: block;
    /*tenia problemas de como se veia el texto en los enlaces del nav al agrandar
    y busque como solucionarlo y vi que con el white-space nowrap puedo
    decirle que omita los saltos de linea y asi no se me lia*/
    white-space: nowrap;
}
nav a:hover{ 
    background-color: #3b5f77;
    color: white;
}

main{
    grid-area: Principal;
}
main h1{
    font-family: "Bitcount Grid Single";
    text-align: center;
}
/* Tarjetas (6 columnas, 220px cada una) */
/* 220*6=1320 + gap 30*5=150 total 1470px
si pusiera una 7 se saldria*/
#tarjetas {
    display: grid;
    grid-template-columns: repeat(6, 13.22%);  /*220*100/1512=13,22*/
    gap: 1.98%; /*30*100/1512=1,98*/
}

/* Contenedor de la Tarjeta el ancho total es 220px +40 de padding=260px*/
.contenedorEtiqueta {
    margin: 0; 
    padding: 1.32%; /*20*100/1512=1,32*/
    background-color: #2F0B4A;
    border-radius: 10px;
}

.contenedorEtiqueta:hover{
    background-color: #391a50;
}
.encabezadoTarjeta h3{ 
    float: left;
    margin: 0;
    /*Por defecto el h3 ocupa de ancho un 48.33 lo vi con el f12 
    me sobra 48.33-220=171.67 para usar pero yo no quiero que ocupe todo
    asiq ue para el estado de juego le indico que tenga un ancho de 100px*/
}
/* Base de cálculo para elementos internos: 220px */
.estadoJuego{
    float: right;
    background-color: rgb(134, 193, 241);
    width: 45.45%; /*100*100/220=45.45%*/
    /*ancho que selecione teniendo encuneta el h3*/
    text-align: center;
    border-radius: 10px;
    font-family: "Archivo Narrow", sans-serif;
    margin: 2.27%; /*5*100/220=2.27%*/
    padding: 2.27% 0;/*5*100/220=2.27%*/
}

/*tengo 220 para usar*/
.contenedorTemas{
    clear: both;
    padding: 6.81% 0; /*15*100/220=6,81%*/
    display: grid;
    /*decido poner dos columnas de 85px cada una (85*2=170)
    y un gap de 20px (170+20=190) me sobran 30px*/
    grid-template-columns: 38.63% 38.63%; /*85*100/220=38,63%*/
    gap: 9.09%; /*20*100/220=9,09%*/
}

.contenedorTemas>div{
    text-align: center;
    border-radius: 15px;
}

.contenedorTemas>div:nth-child(even){
    background-color: royalblue;
}
.contenedorTemas>div:nth-child(odd){
    background-color: rgb(240, 129, 221);
}

footer{
    grid-area: PiePagina;
    background-color: #000000;
    margin-top:1.32% ;/*20*100/1512=1.32%*/
    padding: 1.32%; /* 20*100/1512=1.32% */
    text-align: center;
    font-size: 2em; 
}